{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ etitle }}
{% endblock %}

{% block body %}
 
        {% if etitle %}
            {{ etitle | safe }}
            <form action="{% url 'encyclopedia:edit' %}" method="GET">
                {% csrf_token %}
                <input type="submit" value="Edit this entry">
                <input type="hidden" name="title" value="{{ title }}">
            </form>
        {% else %}
            <li>Sorry a page for <strong>{{ title }}</strong> was not found.</li>
        {% endif %}
    
    

{% endblock %}